#blazor-error-ui {
    background-color: var(--mud-palette-error);
}

* {
    cursor: url('/assets/Texture2D/web_cursor.png') 10 1, auto !important;
}

.unit {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*padding: 1rem;
    */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.unit img {
    width: auto;
    height: auto;
    display: block;
    
    transition: ease-in-out 0.2s;   
}

.unit.unit-button img:hover {
    transform: translateY(-5px);
}

.unit.large {
    width: calc(128px + 2rem);
    height: calc(128px + 2rem);
}

.unit.large img {
    max-width: 128px;
    max-height: 128px;
}

.unit.medium {
    width: calc(64px + 1rem);
    height: calc(64px + 1rem);
}

.unit.medium img {
    max-width: 64px;
    max-height: 64px;
}

.unit.small {
    width: calc(32px + 8px);
    height: calc(32px + 8px);
}

.unit.small img {
    max-width: 32px;
    max-height: 32px;
}

.unit-common {
    background-image: url("/assets/sprite/plate-default.png");
}

.unit-rare {
    background-image: url("/assets/sprite/plate-blue.png");
}

.unit-epic {
    background-image: url("/assets/sprite/plate-purple.png");
}

.unit-legendary {
    background-image: url("/assets/sprite/plate-orange.png");
}

.faction-icon {
    width: auto;
    height: auto;
}

.faction-icon.small {
    width: 32px;
    height: 32px;
}

.faction-icon.medium {
    width: 64px;
    height: 64px;
}

.faction-icon.large {
    width: 128px;
    height: 128px;
}

.faction-filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faction-filter .faction-icon {
    margin: 0.5rem;
}

.unit-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.faction-icon.selected {
    filter: drop-shadow(0 0 5px rgba(255,255,255,0.5));
}

.faction-icon.faction-icon-button {
    transition: ease-in-out 0.2s;
}

.faction-icon.faction-icon-button:hover {
    transform: translateY(-5px);
}

.unit-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mud-alert-message-full-width .mud-alert-position .mud-alert-message {
    width: 100%;
}

.unit-info-vertical-slice {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}

.talents-container {
    background: linear-gradient(90deg, transparent 48.99%, var(--mud-palette-dark) 49%, var(--mud-palette-dark) 51%, transparent 51.01%);
}

.talents-container .talents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    margin: 0 1rem 0 0;
    
    background: linear-gradient(0deg, transparent 44.99%, var(--mud-palette-dark) 45%, var(--mud-palette-dark) 55%, transparent 55.01%);
}

.talents-container .talent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0 0 0;
    margin: 0 1rem 1rem 0;
}

