#blazor-error-ui {
    background-color: var(--mud-palette-error);
}

* {
    cursor: url('/assets/Texture2D/web_cursor.png') 10 1, auto !important;
}

.unit {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*padding: 1rem;
    */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.unit img {
    width: auto;
    height: auto;
    display: block;
    
    transition: ease-in-out 0.2s;   
}

.unit.unit-button img:hover {
    transform: translateY(-5px);
}

.unit.large {
    width: calc(128px + 2rem);
    height: calc(128px + 2rem);
}

.unit.large img {
    max-width: 128px;
    max-height: 128px;
}

.unit.medium {
    width: calc(64px + 1rem);
    height: calc(64px + 1rem);
}

.unit.medium img {
    max-width: 64px;
    max-height: 64px;
}

.unit.small {
    width: calc(32px + 8px);
    height: calc(32px + 8px);
}

.unit.small img {
    max-width: 32px;
    max-height: 32px;
}

.unit-common {
    background-image: url("/assets/Sprite/plate-default.png");
}

.unit-rare {
    background-image: url("/assets/Sprite/plate-blue.png");
}

.unit-epic {
    background-image: url("/assets/Sprite/plate-purple.png");
}

.unit-legendary {
    background-image: url("/assets/Sprite/plate-orange.png");
}

.faction-icon {
    width: auto;
    height: auto;
}

.faction-icon.small {
    width: 32px;
    height: 32px;
}

.faction-icon.medium {
    width: 64px;
    height: 64px;
}

.faction-icon.large {
    width: 128px;
    height: 128px;
}

@media (max-device-width: 600px) {
    .faction-icon.small {
        width: 24px;
        height: 24px;
    }

    .faction-icon.medium {
        width: 48px;
        height: 48px;
    }

    .faction-icon.large {
        width: 112px;
        height: 112px;
    }

    .unit.large {
        width: calc(112px + 2rem);
        height: calc(112px + 2rem);
    }

    .unit.large img {
        max-width: 112px;
        max-height: 112px;
    }

    .unit.medium {
        width: calc(48px + 1rem);
        height: calc(48px + 1rem);
    }

    .unit.medium img {
        max-width: 48px;
        max-height: 48px;
    }

    .unit.small {
        width: calc(24px + 8px);
        height: calc(24px + 8px);
    }

    .unit.small img {
        max-width: 24px;
        max-height: 24px;
    }
}

.faction-filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faction-filter .faction-icon {
    margin: 0.5rem;
}

.unit-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.faction-icon.selected {
    filter: drop-shadow(0 0 5px rgba(255,255,255,0.5));
}

.faction-icon.faction-icon-button {
    transition: ease-in-out 0.2s;
}

.faction-icon.faction-icon-button:hover {
    transform: translateY(-5px);
}

.unit-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mud-alert-message-full-width .mud-alert-position .mud-alert-message {
    width: 100%;
}

.unit-info-vertical-slice {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}

.talents-container {
    background: linear-gradient(90deg, transparent 48.99%, var(--mud-palette-dark) 49%, var(--mud-palette-dark) 51%, transparent 51.01%);
}

.talents-container .talents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    margin: 0 1rem 0 0;
    
    background: linear-gradient(0deg, transparent 44.99%, var(--mud-palette-dark) 45%, var(--mud-palette-dark) 55%, transparent 55.01%);
}

.talents-container .talent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0 0 0;
    margin: 0 1rem 1rem 0;
}

.ascension-left {
    transform: rotate(-45deg);
    margin: 0 1rem;
}

.ascension-right {
    transform: rotate(45deg);
    margin: 0 1rem;
}

.mud-dialog .outline-none {
    max-height: 90vh;
    overflow-y: scroll;
}

body {
    overflow-x: hidden;
}

.html-sanitize * {
    all: unset;
}

.html-sanitize font {
    color: var(--mud-palette-tertiary);
}

.html-sanitize div > font {
    font-size: 1.125rem;
} 

.html-sanitize ul {
    list-style-type: disc;
}

.html-sanitize ol {
    list-style-type: decimal;
}

.html-sanitize li {
    display: list-item;
    list-style-position: inside;
}

.unit-disabled {
    filter: grayscale(100%);
}

body {
    background-color: #32333dff;
}


#loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffffb2;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

#loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid #F00;
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: #776be7ff;
    border-bottom-color: #776be7ff;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: #ff4081ff;
    border-bottom-color: #ff4081ff;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: #1ec8a5ff;
    border-bottom-color: #1ec8a5ff;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#content-wrapper {
    color: #FFF;
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
}

#header
{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #666;
}

#content
{
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #888;
}

.fluid-height .mud-input>input.mud-input-root, .fluid-height div.mud-input-slot.mud-input-root {
    height: auto;
}

.mud-dialog-content {
    max-height: 85vh;
    overflow-y: scroll
}