@using RushRoyale.WebUI.Models

@if (Value is null)
{
    <MudText>
        This unit has no Talents yet...
    </MudText>
}
else
{
    <div class="talents-container">
        <div class="talents talents-9">
            <TalentCard Value="Value.Level9[0]"/>
            <AscensionIcon Level="9"/>
            <TalentCard Value="Value.Level9[1]"/>
        </div>
        <div class="talents talents-11">
            <TalentCard Value="Value.Level11[0]"/>
            <AscensionIcon Level="11"/>
            <TalentCard Value="Value.Level11[1]"/>
        </div>
        <div class="talents talents-13">
            <TalentCard Value="Value.Level13[0]"/>
            <AscensionIcon Level="13"/>
            <TalentCard Value="Value.Level13[1]"/>
        </div>
        <div class="talent talents-15">
            <AscensionIcon Level="15" Class="ascension-left"/>
            <TalentCard Value="Value.Level15"/>
            <AscensionIcon Level="15" Class="ascension-right"/>
        </div>
    </div>
}

@code {
    [Parameter]
    public UnitTalents? Value { get; set; }
}