@using RushRoyale.WebUI.Models

@inject NavigationManager NavigationManager

<div class="@GetClass()" @onclick="HandleClick">
    @if (Level is null or 0)
    {
        @Image
    }
    else
    {
        <MudBadge Overlap Content="@(Level)" Color="Color.Secondary">
            @Image
        </MudBadge>
    }

</div>
@code {

    [Parameter]
    public Unit Value { get; set; } = null!;

    [Parameter]
    public Size Size { get; set; } = Size.Medium;
    
    [Parameter]
    public bool IsButton { get; set; }
    
    [Parameter]
    public bool Disabled { get; set; }
    
    [Parameter]
    public int? Level { get; set; }

    private RenderFragment Image =>
        @<MudImage Src="@("assets/Sprite/" + Value.IconUrl + ".png")"/>;


    private int GetSize() => Size switch
    {
        Size.Small => 32,
        Size.Medium => 64,
        Size.Large => 128,
        _ => throw new ArgumentOutOfRangeException()
    };

    private string GetClass() => "unit " + Size.ToString().ToLower() + " " + (IsButton ? "unit-button" : "") + " " + Value.Rarity switch
    {
        Rarity.Common => "unit-common",
        Rarity.Rare => "unit-rare",
        Rarity.Epic => "unit-epic",
        Rarity.Legendary => "unit-legendary",
        _ => throw new ArgumentOutOfRangeException()
    } + " " + (Disabled ? "unit-disabled" : "");

    protected override void OnParametersSet()
    {
        if (Value is null)
        {
            throw new ArgumentNullException(nameof(Value));
        }
    }

    private void HandleClick()
    {
        if (!IsButton)
        {
            return;
        }
        
        NavigationManager.NavigateTo("/wiki/units/" + Value.Name.ToLower().Replace(' ', '-'));
    }

}