@page "/player-tools/deck-suggestions"
@attribute [Authorize]

@inject ProfileClient ProfileClient
@inject DataService DataService

<MudAlert Severity="Severity.Warning" Variant="Variant.Filled" Class="mb-4">
    This is a work-in-progress page and probably uses random data.
</MudAlert>

@if (_loading)
{
    <MudProgressLinear Indeterminate />
}
else if (!_profile.Units.Any())
{
    <MudAlert Severity="Severity.Warning">
        You have not setup your profile yet. Please go to the <MudLink Href="/player-tools/my-profile">profile page</MudLink> to setup your profile.
    </MudAlert>
}
else
{
    var unlockedSuggestions = _suggestions
        .Where(units => units.All(
            x => _profile.Units
                .Any(playerUnit => playerUnit.UnitId == x.Id && playerUnit.UnitLevel > 0)))
        .ToList();
    <MudText Typo="Typo.h4">Ready to Go!</MudText>
    <div class="d-flex gap-4 flex-wrap justify-center">
        @foreach (var suggestion in unlockedSuggestions)
        {
            <DeckOverview Units="suggestion" PlayerUnits="suggestion.Select(x => _profile.Units.First(playerUnit => playerUnit.UnitId == x.Id)).ToList()" Class="my-2 gap-2"/>
        }
    </div>
    <MudText Typo="Typo.h4">Work Towards</MudText>
    <div class="d-flex gap-4 flex-wrap justify-center">
        @foreach (var suggestion in _suggestions.Except(unlockedSuggestions))
        {
            <DeckOverview Units="suggestion" PlayerUnits="suggestion.Select(x => _profile.Units.First(playerUnit => playerUnit.UnitId == x.Id)).ToList()" Class="my-2 gap-2"/>
        }
    </div>
}

@code {

    private bool _loading;

    private PlayerProfile _profile;
    
    private List<List<Unit>> _suggestions;
    
    protected override async Task OnInitializedAsync()
    {
        _loading = true;

        _profile = await ProfileClient.GetProfileAsync();
        var units = await DataService.GetUnitsAsync();

        ArgumentNullException.ThrowIfNull(units);

        var suggestions = await DataService.GetDeckSuggestionsAsync();

        _suggestions = suggestions.Select(x 
            => x.UnitIds.Select(x => units.First(u => u.Id == x)).ToList()).ToList();

        _loading = false;
    }

}
